<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2zRrIxJmgciH1MmGr-i0k3_m0xThpRwk</string>
	<key>GCM_SENDER_ID</key>
	<string>310225592015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pcossystemfinal</string>
	<key>PROJECT_ID</key>
	<string>pcostestsystem</string>
	<key>STORAGE_BUCKET</key>
	<string>pcostestsystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310225592015:ios:7f4b061b60ca7f2ccde1ba</string>
</dict>
</plist>